{% extends "admin/change_list.html" %}

{% block content %}
{{ block.super }}
<div class="modal fade" id="grappelli-modal" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles de la Gestion</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
              <div class="alert" id="mensaje"></div>
              <button type="button" class="btn btn-success" id="modal_ok">Ok</button>
            </div>
          </div>
  </div>
</div>
{% endblock content %}
