header {
    background: #00AECD;
    height: 80%;
}
#logo-dc {
    width: 15%;
}
#logo-label {
    font-size: 2.1em;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
#list-menu-1>li>a {
    padding: 18px 25px;
    font-size: 15px;
    color: black;
}
#list-menu-1>li>a:hover {
    border-bottom: 2px solid #fed136;
}
#list-menu-2>li:hover {
    background: #F5F5F5;
}
#list-menu-2>li:hover a {
    text-decoration: underline;
}
#eslogan {
    font-size: 2.5rem;
    width: 75%;
}
.box-container {
    background: #F6F7D7;
}
.jumbotron {
    background-color: rgba(0,0,0,0);
}
#dado {
    margin-top: 45px;
}
