{% extends "admin/change_form.html"%}

{% block object-tools-items %}
{{block.super}}
<li><a href="#" id="btn-proforma">Generar Proforma</a></li>
{% endblock %}

{% block extrahead %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea', height : 400 });</script>
<script type="text/javascript">
(function($) {
  $(document).ready(function(){

    var totalizar = function(campo){
      var cantidad = $('.cantidad>input');
      var valor = $('.'+campo+'>input');
      console.log(valor.length);
      var total = 0.0;
      if (valor.length>1) {
        for (var i = 0; i < valor.length-1; i++) {
          total += (parseFloat($(cantidad[i]).val()) * parseFloat($(valor[i]).val()))
        }
      }
      return total
    }

    var calcular = function(){
      var fob = $('.fob>input');
      var cip = $('.cip>input');
      var cif = $('.cif>input');
      var precio = $('.precio>input');
      var flete = parseFloat($('input[name=flete]').val());
      var aduana = parseFloat($('input[name=aduanas]').val());
      var divisa = parseFloat($('input[name=divisa]').val());
      var banco = parseFloat($('input[name=banco]').val());
      var otros = parseFloat($('input[name=otros]').val());
      var factor = parseFloat($('input[name=factor]').val());
      var total_fob = totalizar('fob');
      console.log(total_fob);
      if (total_fob>0) {
        var total_cif  = total_fob + flete + banco + divisa;
        var total_cip  = total_cif + aduana + otros;
        for (var i = 0; i < cip.length-1; i++) {
          $(cif[i]).val((( total_cif / total_fob ) * parseFloat($(fob[i]).val())).toFixed(2));
          $(cip[i]).val(((total_cip / total_fob ) * parseFloat($(fob[i]).val())).toFixed(2));
          $(precio[i]).val(((total_cip / total_fob ) * parseFloat($(fob[i]).val()) * factor).toFixed(2));
        }
        var total_cip = totalizar('cip');
        var total = totalizar('precio');
        $('input[name=utilidad]').val((total - total_cip).toFixed(2));
        $('input[name=total_fob]').val(total_fob);
      }

    }
    $('#item_set-group').on('change', '.cantidad>input', calcular);
    $('#item_set-group').on('change', '.fob', calcular);
    $('input[name="flete"]').change(calcular);
    $('input[name="aduanas"]').change(calcular);
    $('input[name="banco"]').change(calcular);
    $('input[name="divisa"]').change(calcular);
    $('input[name="factor"]').change(calcular);
    calcular();
  });
})(grp.jQuery)
</script>
{% endblock %}

{% block extrastyle %}
<style media="screen">
.blog {
    min-width: 800px;
  }
  #id_guia{
    max-width: 220px;
  }
</style>
{% endblock %}
