{% extends "admin/change_form.html"%}

{% block object-tools-items %}
{{block.super}}
<li><a href="#" id="btn-proforma">Generar Proforma</a></li>
{% endblock %}

{% block extrahead %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea', height : 400 });</script>
<script type="text/javascript">
(function($) {
  $(document).ready(function(){
    var cantidad = $('.cantidad>input');
    var fob = $('.fob>input');

    var totalizar = function(campo){
      var valor = $('.'+campo+'>input');
      var total = 0.0;
      for (var i = 0; i < valor.length-1; i++) {
        total += (parseFloat($(cantidad[i]).val()) * parseFloat($(valor[i]).val()))
      }
      return total
    }

    var calcular = function(){
      var cip = $('.cip>input');
      var cif = $('.cif>');
      var precio = $('.precio>input');
      var flete = parseFloat($('input[name=flete]').val());
      var aduana = parseFloat($('input[name=aduanas]').val());
      var divisa = parseFloat($('input[name=divisa]').val());
      var banco = parseFloat($('input[name=banco]').val());
      var total_fob = totalizar('fob');
      for (var i = 0; i < cip.length-1; i++) {
        $(cip[i]).val( ( (total_fob + flete) / total_fob ) * parseFloat($(fob[i]).val()).toFixed(2) );
        $(cif[i]).val( ( (total_fob + flete + aduana) / total_fob ) * parseFloat($(fob[i]).val()).toFixed(2) );
        $(precio[i]).val( (( (total_fob + flete + aduana + banco + divisa) / total_fob ) * parseFloat($(fob[i]).val()) * 1.8).toFixed(2));
      }
    }
    $('#item_set-group').on('change', '.cantidad>input', calcular);
    $('#item_set-group').on('change', '.fob>input', calcular);
    $('input[name="flete"]').change(calcular);
    $('input[name="aduanas"]').change(calcular);
    $('input[name="banco"]').change(calcular);
    $('input[name="divisa"]').change(calcular);
  });
})(grp.jQuery)
</script>
{% endblock %}

{% block extrastyle %}
<style media="screen">
.blog {
    min-width: 800px;
  }
</style>
{% endblock %}
