.pagina{
  max-width: 216mm;
  max-height: 279mm;
}

.cabecera{
  background-color:#A9BCF5;
  width:100%;height:240px;
}

.tituloPrincipal{
  float:right;color:#045FB4;
  align:right;
}

.icono{
  vertical-align:middle;
  width:150px;
}

th{
  background-color:#A9BCF5;
  text-align:center;
  }
tr{
  border-style: solid;
  border-color:#0174DF;
  }
.pie{
  background-color:#A9BCF5;
  width:100%;height:100px;
}
p{
  height:10px;
}
span{
  float:left;
  margin-left: 25px;
}
