
#containerPlanilla {
width: 116mm;
}

.table-planillaPago {
font-size: 20px;
padding: 5mm;
margin-left: 5mm;
text-align: center;
height: 49mm;
width: 220mm;
}

.cabecera {
font-weight: bold;
}

.text0 {
font-size: 25px;
}

.text1 {
font-size: 20px;
}
.text2 {
font-size: 16px;
font-weight: normal;
}
.text3 {
padding-bottom: 4px;
}
.text4 {
font-weight: bold;
font-size: 17px;
}

.text5 {
font-weight: bold;
font-size: 13px;
text-align: right;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: 3px solid #000000;
font-size: 16px;
font-weight: bold;
}

.badge {
font-size: 16px;
}

@media all{
   div.saltopagina{
   }
}
   
@media print{
   div.saltopagina{ 
      display:block; 
      page-break-before:always;
   }
}
