<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="background-color: white">
<div class="container">
<div class="row">


<div class="row">
    <div class="col-xs-6">
<h1>
    <a href=" ">
    <img alt="" src="/app/static/app/images/tulogoaquifooter.png" />
        Logo aquí </a></h1>
</div>
<div class="col-xs-6 text-right">
<h1>FACTURAS PENDIENTES</h1>
</div>
</div>

<hr />


<div class="row">
    <div class="col-xs-5 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Cliente : <a href="#">{{ cliente }}</a></h4>
            </div>
            <div class="panel-body">
              Identificacion: {{ cliente.ident }}
              <br>
              Dirección: {{ cliente.address }}
              <br>
              Telefono: {{ cliente.phone }}
              <br>
              Email: {{ cliente.email }}
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
            <h4>Factura No.</h4>
            </th>
            <th>
            <h4>Moneda</h4>
            </th>
            <th>
            <h4>Fecha Emision</h4>
            </th>
            <th>
            <h4>Monto</h4>
            </th>
            <th>
            <h4>Saldo</h4>
            </th>
            <th>
            <h4>Estado</h4>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for documento in documentos %}
    <tr>
        <td><a href="#">{{ documento.numero }}</a></td>
        <td>{{ documento.moneda }}</td>
        <td class=" text-right ">{{ documento.date }}</td>
        <td class=" text-right ">{{ documento.total }}</td>
        <td class=" text-right ">{{ documento.saldo }}</td>
        <td class=" text-right ">VECIDO/AL CORRIENTE</td>
    </tr>
    {% endfor %}
</tbody>
</table>


<div class="row text-right">
  <div class="col-xs-3 col-xs-offset-7">
      <strong>
      Saldo Dolares: <br>
      </strong>
  </div>
  <div class="col-xs-2">
      <strong>
      {{ cliente.saldo.dolares }}<br>
      </strong>
  </div>
    <div class="col-xs-3 col-xs-offset-7">
        <strong>
        Saldo Cordobas: <br>
        </strong>
    </div>
    <div class="col-xs-2">
        <strong>
        {{ cliente.saldo.cordobas }}<br>
        </strong>
    </div>
</div>

<div class="row">
    <div class = "col-xs-5">
        <div class="panel panel-info">
            <div class="panel-heading">
            <h4>Datos bancarios</h4>
            </div>
            <div class="panel-body">
             DELTACOPIERS SOCIEDAD ANONIMA <br>
             BANPRO <br>
             Número de cuenta Dolares: 10011710001663 <br>
             Número de cuenta Cordobas: 10011700001798 <br>
            </div>
        </div>
    </div>
    <div class="col-xs-7">
        <div class="span7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4> Datos de contacto </h4>
                    <div class=" panel-body ">
                     Email: cesarabel@deltacopiers.com <br>
                     Móvil Claro: +505 8354 5689 <br>
                     Móvil Movistar: +505 8966 5644 <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
</html>
