<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="author" href="/static/home/humans.txt" />
        <title>{% block title %}Moneycash{% endblock title %}</title>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
        {% block style %}
        <link href="/static/home/img/logos/deltacopiers.jpg" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="/static/home/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/home/css/moneycash.css" rel="stylesheet">
        <link href="/static/home/css/moneycash_nav.css" rel="stylesheet">
        {% endblock style %}
    </head>
    <body>
    {% block navbar %}
        <header>
            <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/moneycash" class="navbar-brand">MoneyCash</a>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav nav-menu-principal">
                        {% block navbar_items %}
                        {% if user.is_authenticated %}
                            <li><a href="#">Facturar</a></li>
                            <li><a href="#">Arqueo</a></li>
                            <li><a href="#">Reportes</a></li>
                        {% endif %}
                        {% endblock navbar_items %}
                        </ul>
                        {% if user.is_authenticated %}
                        {% block user_tools %}
                        <ul class="nav navbar-nav navbar-right nav-menu-principal">
                            <li class="dropdown">
                                <a href="#" id="name-user" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Hola, {{ user.username }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                {% block user_tools_items %}
                                    <li><a href="#">Cuenta</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/accounts/logout">Cerrar Seccion</a></li>
                                {% endblock user_tools_items %}
                                </ul>
                            </li>
                        </ul>
                        {% endblock user_tools %}
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
    {% endblock navbar %}
    {% block content %}
        <div class="container">
         {% if user.is_authenticated %}
         {% csrf_token %}
            <div class="row">
                <div class="col-md-3 col-xs-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <label>Caja</label>
                        </div>
                        <div class="panel-body text-center">
                            <a href="#">
                                <img src="/static/home/img/Cashier.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <label>Cartera</label>
                        </div>
                        <div class="panel-body text-center">
                            <a href="#">
                                <img src="/static/home/img/Money-Increase.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <label>Compras</label>
                        </div>
                        <div class="panel-body text-center">
                            <a href="#">
                                <img src="/static/home/img/Shop.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <label>Contabilidad</label>
                        </div>
                        <div class="panel-body text-center">
                            <a href="#">
                                <img src="/static/home/img/Money-Graph.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <label>Produccion</label>
                        </div>
                        <div class="panel-body text-center">
                            <a href="#">
                                <img src="/static/home/img/Produccion.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
         <div class="row box-container">
                <div class="col-sm-9 col-md-9">
                    <div class="jumbotron">
                        <h1 class="text-center">Software a la medida</h1>
                        <p class="text-center">Productividad, simplicidad y mejor desempeño de su negocio.</p>
                        <p class="text-center">
                            <a id='access-register' class="btn btn-lg btn-success" href="/accounts/register/">Registrate Gratis</a>
                            <a id='access-register' class="btn btn-lg btn-success" href="/accounts/login/">Ingresa</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <img id="img-dado" src="/static/home/img/dado.png" class="img-responsive" alt="Responsive image">
                </div>
            </div>
            <div class="row">
                <h2 class="blog-post-title text-center">MoneyCash</h2>
                <p class="lead">
                    <span class="text-primary">MoneyCash</span> es una herramienta que se acopla cualquier entidad de negocio
                    que desea empreder un mayor creciento de produccion y mas. Ofreciendo soluciones nesesaria para la arias
                    de facturacion, caja, etc.
                </p>
                <p class="lead">
                    Diseñada con altos estandares de calidad, haciendo uso de tecnologias libre que nos permite un mejor
                    control y adaptacion a las nesecidades del dia a dia.
                </p>
            </div>
        </div>
        {% endif %}
        {% endblock content %}
        {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <p id="copy">&copy; Delta Copiers, 2016</p>
                    </div>
                    <div class="col-md-4 col-md-offset-4 col-xs-4">
                        <p class="text-right">
                            <span>E: cesarabel&#64;deltacopiers.com</span>
                            <span>T: &#43;505 2225&#45;1337</span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
        {% block modal %}
        <!--modal-->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div id="box-container-access">
                                    <div id="box-btns-access">
                                        <ul class="nav navbar-nav">
                                            <li id="li-register">Register</li>
                                            <li id="li-login">Login</li>
                                        </ul>
                                    </div>
                                    <div id="box-register">
                                        <form id="form-register" method="post">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-lg"
                                                                name="firtsname" placeholder="Nombres"
                                                                autofocus="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-lg"
                                                            name="lastname" placeholder="Apellidos">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-lg"
                                                                name="company" placeholder="Empresa">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-lg"
                                                                name="email" placeholder="Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control input-lg"
                                                                name="password" placeholder="Contrase&ntilde;a">
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="btn-register" class="btn btn-lg btn-success">Register</button>
                                        </form>
                                    </div>
                                    <div id="box-login">
                                        <form id="form-login" method="post">
                                            <div class="form-group">
                                                <input id="input-user" type="text" class="form-control input-lg"
                                                    name="user" autofocus placeholder="Usuario"/>
                                            </div>
                                            <div class="form-group">
                                                <input id="input-password" type="password" class="form-control input-lg"
                                                    name="password" placeholder="Contrase&ntilde;a"/>
                                            </div>
                                            <button id="btn-login" class="btn btn-lg btn-success">Login</button>
                                            <p class="text-center">
                                                <a id="recover_password" href="#">Ha olvidado su contrase&ntilde;a&#63;</a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        {% endblock modal %}
        <!--end modal-->
        <!-- jQuery -->
        {% block scripts %}
        <script src="/static/home/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/home/js/bootstrap.min.js"></script>
        {% endblock scripts %}
        <script type="text/javascript">
        {% block scripts_extra %}
            $(function() {
                $('#access-login').on('click', function(e) {
                    e.preventDefault();
                    $('#li-login').click();
                });
                $('#li-register').on('click', function(e) {
                    e.preventDefault();
                    evento_access(false);
                });
                $('#li-login').on('click', function(e) {
                    e.preventDefault();
                    evento_access(true);
                });
                function limpiar() {
                    $('input[type="text"], input[type="password"]').val('');
                }
                function evento_access(ban) {
                    if(ban) {
                        //login
                        $('#box-login').css({display:'block'});
                        $('#box-register').css({display:'none'});
                        $('#li-register').css({background:'#3E3919'});
                        $('#li-login').css({background:'#ACA14F'});
                    } else {
                        //register
                        $('#box-login').css({display:'none'});
                        $('#box-register').css({display:'block'});
                        $('#li-register').css({background:'#ACA14F'});
                        $('#li-login').css({background:'#3E3919'});
                    }
                    limpiar();
                }
            });
        {% endblock scripts_extra %}
        </script>
    </body>
</html>
