<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block titulo-cabecera %}MoneyCash{% endblock titulo-cabecera %}</title>

    <link href="/static/moneycash/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/moneycash/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/static/moneycash/bootstrap/css/navbar-fixed-top.css" rel="stylesheet">

    <script src="/static/moneycash/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link href="/static/moneycash/jquery/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/moneycash/jquery/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/static/moneycash/jquery/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="/static/moneycash/css/sweetalert.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
  </head>

  <body>

    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "moneycash" %}">MoneyCash</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown moneycash_facturacion">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ventas<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "factura_venta" %}">Crear Nueva Factura</a></li>
                <li><a href="{% url "facturas_venta" %}">Facturas de Venta</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Reportes y Estadisticas</li>
                <li><a href="{% url "xls_catalogo_productos" %}">Catalogo de Productos</a></li>
                <li><a href="{% url "xls_ventas_cliente" %}">Reporte de Ventas por Cliente</a></li>
                <li><a href="{% url "xls_ventas_categoria" %}">Reporte de Ventas por Categoria</a></li>
              </ul>
            </li>
            <li class="dropdown moneycash_caja">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Caja<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "moneycash_roc" %}">Impresion de Recibos</a></li>
                <li><a href="{% url "facturas_no_impresas" %}">Impresion de Facturas</a></li>
                <li><a href="{% url "facturas_no_impresas" %}">Impresion de Retenciones</a></li>
                <li><a href="{% url "cierre_caja" %}">Cierres de Caja</a></li>
                <li class="dropdown-header">Reportes y Estadisticas</li>
                <li><a href="#">Movimientos de Caja</a></li>
                <li><a href="#">Movimientos de Caja Chica</a></li>
              </ul>
            </li>
            <li class="dropdown moneycash_bodega">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bodega<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "moneycash_bodega" %}">Ordenes Pendientes</a></li>
                <li><a href="{% url "moneycash_bodega" %}">Nueva Entrada</a></li>
                <li><a href="{% url "moneycash_bodega" %}">Nueva Salida</a></li>
                <li><a href="{% url "moneycash_bodega" %}">Traslado Entre Bodegas</a></li>
                <li><a href="{% url "moneycash_bodega" %}">Ubicaciones</a></li>
                <li><a href="{% url "moneycash_bodega" %}">Inventario</a></li>
                <li class="dropdown-header">Reportes y Estadisticas</li>
                <li><a href="#">Inventario por Bodega</a></li>
                <li><a href="#">Inventario por Categoria</a></li>
              </ul>
            </li>
            <li class="dropdown moneycash_compras">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compras<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "factura_compra" %}">Nueva Compra Local</a></li>
                <li><a href="#">Cuentas Por Pagar</a></li>
                <li><a href="#">Liquidacion de Polizas</a></li>
                <li class="dropdown-header">Reportes y Estadisticas</li>
                <li><a href="#">Reporte Cuentas Por Pagar</a></li>
              </ul>
            </li>
            <li class="dropdown moneycash_cartera">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartera<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Cuentas Por Cobrar</a></li>
                <li><a href="#">Notas de Credito</a></li>
                <li><a href="#">Notas de Debito</a></li>
                <li class="dropdown-header">Reportes y Estadisticas</li>
                <li><a href="#">Reporte Cartera</a></li>
              </ul>
            </li>
            <li class="dropdown moneycash_contabilidad">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contabilidad<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Catalogo de Cuentas</a></li>
                <li><a href="#">Comprobantes de Diario</a></li>
                <li class="dropdown-header">Reportes y Estadisticas</li>
                <li><a href="#">Estado de Resultado</a></li>
                <li><a href="#">Balance General</a></li>
                <li><a href="#">Balanza de Comprobacion</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block monedas %}
            <input type="hidden" name="tc" value="{{ tc }}" id="tc">
            <select class="moneda-selector" name="monedas">
              <option value="cordobas">C$ Cordobas</option>
              <option value="dolares">U$ Dolares</option>
            </select>
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock navbar %}
    <div class="panel panel-info" id="content">
      <div class="panel-heading">
        <h4 class="panel-title"> {% block titulo %}Titulo de la pagina{% endblock titulo %}
          <div class="pull-right">
            {% block options %}
            <a href="#" class="btn btn-info btn-xs pull-right">
              <i class="fa fa-times"></i>
            </a>
            <a href="#" class="btn btn-info btn-xs pull-right">
              <i class="fa fa-edit"></i>
            </a>
            {% endblock options %}
          </div>
        </h4>
        <h3 class="panel-title" ></h3>
      </div>
      <div class="panel-body">
        {% block form %}
                <div class="row">
                  <div class="col-md-4">
                    <table class="table table-responsive table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Gastos
                          </th>
                          <th>

                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in gastos %}
                        <tr>
                          <td>
                            {{i.name}}
                          </td>
                          <td>
                            {{i.total}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-4">
                    <table class="table table-responsive table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Ingresos
                          </th>
                          <th>

                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in ingresos %}
                        <tr>
                          <td>
                            {{i.name}}
                          </td>
                          <td>
                            {{i.total}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-4">
                    <table class="table table-responsive table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Impuestos
                          </th>
                          <th>

                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in impuestos %}
                        <tr>
                          <td>
                            {{i.name}}
                          </td>
                          <td>
                            {{i.total}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
        {% endblock form %}
        <div class="impreso" id="impreso"></div>
        <div class="impreso" id="iframe">

        </div>
      </div>
    </div>


    {% block modales %}
    <div class="modal fade in" id="modal-pdf-preview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">PDF</h4>
            </div>
            <div class="modal-body">
                <iframe id="conten-pdf-preview" width="100%" style="height: 400px;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
    {% endblock modales %}
    <script src="/static/moneycash/jquery/jquery-2.2.3.min.js"></script>
    <script src="/static/moneycash/jquery/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/moneycash/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/moneycash/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/moneycash/jquery/moment.min.js"></script>
    <script src="/static/moneycash/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="/static/moneycash/bootstrap/js/bootstrap-datepicker.es.js"></script>
    <script src="/static/moneycash/js/monedas.js"></script>
    <script src="/static/moneycash/js/sweetalert.min.js"></script>
    {% block script_extra %}{% endblock script_extra %}
  </body>
</html>
