{% extends "moneycash/base.html" %}


{% block reportes %}
<li><a href="#">Reporte de Inventario por Bodega</a></li>
<li><a href="#">Reporte de Inventario por Categoria</a></li>
{% endblock reportes %}

{% block script_extra %}
{{ super }}
<script type="text/javascript">
$('.moneycash_bodega').addClass('active');
</script>
{% endblock script_extra %}

{% block form %}
<div class="row">
<div class="col-md-3">
  <div class="well">
    <h3>Ordenes Pendientes</h3>
    <table class="table table-responsive table-hover table-bordered table-condensed">
      <thead>
        <th>
          Tipo de Documento
        </th>
        <th>
          Numero
        </th>
        <th>
          Cantidad de Productos
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            Factura
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
        <tr>
          <td>
            Entrada
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
        <tr>
          <td>
            Poliza de Importacion
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
        <tr>
          <td>
            Otra Salida
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="col-md-6">
    <div class="well">
    <h2>Inventario Local</h2>
    <table class="table table-responsive">
      <thead>
        <th>
          Tipo de Documento
        </th>
        <th>
          Numero
        </th>
        <th>
          Cantidad de Productos
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            Factura
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
        <tr>
          <td>
            Entrada
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
        <tr>
          <td>
            Poliza de Importacion
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
        <tr>
          <td>
            Otra Salida
          </td>
          <td>
            457895
          </td>
          <td>
            251
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <button type="button" name="button" class="button">Crear Nueva Entrada</button>
      <button type="button" name="button" class="button">Crear Nueva Salida</button>
    </div>

  </div>
</div>
{% endblock form %}
