{% extends "moneycash/base.html" %}

{% block form %}
<div class="row">
  <div class="col-md-3" id="metodos-pago">
    <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Pagos y Retensiones</h3>
    </div>
    <div class="panel-body">
    <div class="form-group">
        <label for="tipopago">Tipo de pago</label>
        <select id="tipopago" class="form-control" name="factura_tipopago">
            {% for t in tipo_pagos %}
            <option value={{ t.id }}>{{ t.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group" id="retenciones">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="aplica_ir" name="aplica_ir"> IR
            </label>
            <label>
                <input type="checkbox"  id="aplica_al" name="aplica_al"> Alcaldia
            </label>
            <label>
                <input type="checkbox"  id="excento_iva" name="excento_iva"> Exento IVA
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="factura_retencion">Monto Retenido</label>
        <input type="input" class="form-control" id="factura_retencion" readonly name="factura_retencion" value="0.0">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="pago_efectivo">Efectivo</label>
            <input type="input" class="form-control efectivo" id="pago_efectivo" readonly name="pago_efectivo" value="0.0">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label for="pago_cheque cheque">Cheques</label>
            <input type="input" class="form-control" id="pago_cheque" readonly name="pago_cheque" value="0.0">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="pago_transferencia">Transferencias</label>
            <input type="input" class="form-control transferencia" id="pago_transferencia" readonly name="pago_transferencia" value="0.0">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label for="pago_tarjeta">Tarjeta</label>
            <input type="input" class="form-control tarjeta" id="pago_tarjeta" readonly name="pago_tarjeta" value="0.0">
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="pago_total">Pago Total</label>
        <input type="input" class="form-control" id="pago_total" readonly name="pago_total" value="0.0">
    </div>
    <div class="form-group">
        <label for="pago_cambio">Cambio</label>
        <input type="input" class="form-control" id="pago_cambio" readonly name="pago_cambio" value="0.0">
    </div>
  </div>
</div>
</div>
  <div class="col-md-9">
    {% block extra-form %}
    {% endblock extra-form %}
  </div>
</div>
{% endblock form %}

{% block modales %}
<div class="modal fade" id="efectivoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ingreso en Efectivo</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="efectivoTable">
          <thead>
            <tr>
              <th>Nominacion</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control efectivoNominacion" value="0.50" readonly></td>
              <td><input type="text" class="form-control efectivoCantidad" value=""></td>
            </tr>
              <td><input type="text" class="form-control efectivoNominacion" value="1.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="5.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="10.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="20.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="50.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="100.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="200.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="500.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td><td><input type="text" id="efectivoTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="efectivoOk">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chequeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ingreso por Cheques</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="chequeTable">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Numero</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control chequeBanco"></td>
              <td><input type="text" class="form-control chequeNumero"></td>
              <td><input type="text" class="form-control chequeMonto"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control chequeBanco"></td>
              <td><input type="text" class="form-control chequeNumero"></td>
              <td><input type="text" class="form-control chequeMonto"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td>
              <td></td>
              <td><input type="text" id="chequeTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="chequeOk">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="transferenciaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Transferencias Bancarias</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="transferenciaTable">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Numero Transaccion</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control transferenciaBanco"></td>
              <td><input type="text" class="form-control transferenciaNumero"></td>
              <td><input type="text" class="form-control transferenciaMonto"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control transferenciaBanco"></td>
              <td><input type="text" class="form-control transferenciaNumero"></td>
              <td><input type="text" class="form-control transferenciaMonto"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td>
              <td></td>
              <td><input type="text" id="transferenciaTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="transferenciaOk">ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tarjetaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pagos con Tarjeta</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="tarjetaTable">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Ultimos 4 digitos Tarjeta</th>
              <th>Numero Transaccion</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control tarjetaBanco"></td>
              <td><input type="text" class="form-control tarjetaNumero"></td>
              <td><input type="text" class="form-control tarjetaTransaccion"></td>
              <td><input type="text" class="form-control tarjetaMonto"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control tarjetaBanco"></td>
              <td><input type="text" class="form-control tarjetaNumero"></td>
              <td><input type="text" class="form-control tarjetaTransaccion"></td>
              <td><input type="text" class="form-control tarjetaMonto"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td>
              <td></td>
              <td><input type="text" id="tarjetaTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="tarjetaOk">Ok</button>
      </div>
    </div>
  </div>
</div>
{% endblock modales %}

{% block reportes %}
<li><a href="#">Reporte de Caja Chica</a></li>
{% endblock reportes %}

{% block script_extra %}
{{ super }}
<script src="/static/moneycash/js/caja.js"></script>
{% endblock script_extra %}
