{% extends "moneycash/base.html" %}

{% block titulo %}Cierre de Caja{%endblock%}

{%block form%}
<div class="panel panel-success">
<div class="panel-heading">
  <h4 class="panel-title"> Datos del Recibo
    <div class="pull-right">
      <a href="#" class="btn btn-success btn-xs pull-right" id="borrar_cliente">
        <i class="fa fa-times"></i>
      </a>
      <a href="#" class="btn btn-success btn-xs pull-right" id="editar_cliente">
        <i class="fa fa-edit"></i>
      </a>
    </div>
  </h4>
</div>
<div class="panel-body">
  <div class="row">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Numero</th>
          <th>Cliente</th>
          <th>Cordobas</th>
          <th>Dolares</th>
        </tr>
      </thead>
      <tbody>
        {%for f in facturas%}
        <tr>
          <td>{{f.date}}</td>
          <td>{{f.numero}}</td>
          <td>{{f.cliente.name}}</td>
          <td>{{f.total_cordobas}}</td>
          <td>{{f.total_dolares}}</td>
          {%endfor%}
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
{%endblock%}
