<script src="/static/moneycash/js/cliente.js"></script>
<link href="/static/moneycash/jquery/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<link href="/static/moneycash/jquery/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet">
<link href="/static/moneycash/jquery/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet">
<script src="/static/moneycash/jquery/jquery-ui/jquery-ui.min.js"></script>

<div class="panel panel-success" id="cliente_panel">
<div class="panel-heading">
  <h4 class="panel-title"> Cliente
    <div class="pull-right">
      <a href="#" class="btn btn-success btn-xs pull-right" id="borrar_cliente"><i class="fa fa-times"></i></a>
      <a href="#" class="btn btn-success btn-xs pull-right" id="editar_cliente"><i class="fa fa-edit"></i></a>
      {% if caja %}
      <a href="#" class="btn btn-success btn-xs pull-right" id="ecuenta"><i class="fa fa-balance-scale"></i></a>
      {%endif%}
      <a href="#" class="btn btn-success btn-xs pull-right" id="btnpdf"><i class="fa fa-file-pdf-o"></i></a>
    </div>
  </h4>
</div>
<div class="panel-body">
  <div class="datos_cliente">
    <div class="form-group">
        <input type="hidden" class="form-control" id="cliente" name="cliente_id">
        <input type="text" class="form-control" id="code" placeholder="CODIGO" readonly name="code">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="NOMBRE" name="cliente_name" autocomplete="off" autofocus="true">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="ident" placeholder="IDENTIFICACION" name="cliente_ident">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="EMAIL" name="cliente_email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="phone" placeholder="TELEFONO" name="cliente_phone">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="address" placeholder="DIRECCION" name="cliente_address"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="factura_comentarios">Observaciones y Comentarios</label>
  <textarea name="factura_comentarios" rows="3" cols="40" class="form-control"></textarea>
  </div>
  </div>
</div>

<div class="modal fade" id="detalleCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Facturas Pendientes</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="disponible">Monto Disponible</label>
          <input type="text" class="form-control" id="disponible" readonly>
        </div>
        <table class="table table-hover table-bordered table-striped table-responsive" id="facturasPendientes">
          <thead>
            <tr>
            {% if caja %}
              <th></th>
              {% endif %}
              <th>Numero</th>
              <th>Fecha</th>
              {% if caja %}
              <th>Retension IR</th>
              <th>Retension Alcaldia</th>
              {% endif %}
              <th>Total</th>
              {% if caja %}
              <th>Monto</th>
              <th>Saldo</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label for="saldo_total">Saldo Total</label>
                <input type="text" class="form-control" id="saldo_total">
            </div>
          </div>
          <div class="col-md-6">
            {% if caja %}
            <div class="form-group">
                <label for="abono_total">Total a Pagar</label>
                <input type="text" class="form-control" id="abono_total">
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="error"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="clienteOk">ok</button>
      </div>
    </div>
  </div>
</div>
