{% extends "moneycash/base.html" %}


{% block navbar_items %}
{% if user.is_authenticated %}
    <li><a href="#">Clientes</a></li>
    <li><a href="#">Productos</a></li>
    <li><a href="#">Reportes de Ventas</a></li>
{% endif %}
{% endblock navbar_items %}

{% block content %}
<style>
            .btn-remove {

                text-align: center;

            }

            body {
                background-size: cover;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
            }

            .selected {
                background-color: lightblue !important;
            }

        </style>
        <script>
            function quitar(){
                $("#productos tr:last").remove();
                calcular();
            }
            function add_detail_product() {
                $("#myModal").modal('hide');
                var row = '<tr row=1>';
                row += '<td><input type="input" id="id_producto_codigo" class="form-control" value="' + $('#modal_codigo').val() + '" readonly name="producto_codigo"></td>';
                row += '<td><input type="input" id="id_producto_nombre" class="form-control" value="' + $('#modal_descripcion').val() + '" readonly name="producto_nombre"></td>';
                row += '<td><input type="input" id="id_producto_cantidad" class="form-control" value=' + $('#modal_cantidad').val() + ' onchange="calcular()" name="producto_cantidad"></td>';
                row += '<td><input type="input" id="id_producto_precio" class="form-control" value="' + $('#modal_precio').val() + '" onchange="calcular()" name="producto_precio"></td >';
                row += '<td><input type="input" id="id_producto_descuento" class="form-control" value=0 onchange="calcular()" name="producto_descuento"></td>';
                row += '<td><input type="input" id="id_total" class="form-control" value="' + $('#modal_precio').val() + '" onchange="calcular()" readonly name="producto_total"></td>'
                row += '<td>';
                row += '<input type="hidden" id="producto_id" value=' + $('#modal_id').val() + ' name="producto"></input>';
                row += '<input type="hidden" id="bodega_id" value=' + $('#modal_bodega').val() + ' name="bodega"></input>';
                row += '</td>';
                row += '</tr>';
                $('#productos tbody').append(row);
                calcular();
            }
            function validar_modal(){
                var bodega = document.getElementById('modal_bodega').value;
                var existencia = document.getElementById('modal_existencia').value;
                var cantidad = document.getElementById('modal_cantidad').value;
                if (bodega == "None"){
                    $('#msg').empty().append('<span class="alert-danger">Por favor seleccione una bodega...</span>');
                } else if (cantidad > existencia) {
                    $('#msg').empty().append('<span class="alert-danger">La cantidad no puede ser mayor que la existencia</span>');
                } else {
                    add_detail_product();
                }
            }
        </script>
    </head>
    <body>
        <div class="container-fluid well">
            <div id="mensajes">
            {% for m in mensajes %}
                <span class='alert-{{ m.1 }}'>{{ m.0 }}</span>
            {% endfor %}
            </div>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_cliente_code">CLIENTE</label>
                            <input type="hidden" class="form-control" id="id_cliente_id" placeholder="CODIGO" name="cliente_id">
                            <input type="text" class="form-control" id="id_cliente_code" placeholder="CODIGO" readonly name="cliente_code">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id_cliente_id">
                            <input type="text" class="form-control" id="id_cliente_nombre" placeholder="NOMBRE" name="cliente_nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_cliente_identificacion" placeholder="IDENTIFICACION" name="cliente_identificacion">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="id_cliente_email" placeholder="EMAIL" name="cliente_email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_cliente_telefono" placeholder="TELEFONO" name="cliente_telefono">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="id_cliente_direccion" placeholder="DIRECCION" name="cliente_direccion"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_factura_numero">Numero</label>
                            <input type="input" class="form-control" id="id_factura_numero" readonly name="factura_numero">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_fecha">Fecha</label>
                            <input type="text" class="form-control" id="id_factura_fecha" readonly>
                        </div>
                        <div class="form-group">
                            <label for="id_factura_tipopago">Tipo de pago</label>
                            <select id="id_factura_tipopago" class="form-control" name="factura_tipopago">
                                {% for t in tipopagos %}
                                <option value={{ t.id }}>{{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="retenciones">Aplicar Retencion</label>
                        <div class="form-group" id="retenciones">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="id_ir" name="factura_ir"> IR
                                </label>
                                <label>
                                    <input type="checkbox"  id="id_al" name="factura_al"> Alcaldia
                                </label>
                                <label>
                                    <input type="checkbox"  id="id_excento" name="excento"> Exento IVA
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_factura_comentario">Comentarios</label>
                            <textarea class="form-control" id="id_factura_comentario" name="factura_comentarios"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="id_factura_subtotal">Subtotal</label>
                            <input type="input" class="form-control" id="id_factura_subtotal" readonly name="factura_subtotal" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_descuento">Descuento</label>
                            <input type="input" class="form-control" id="id_factura_descuento" readonly name="factura_descuento" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_iva">Iva</label>
                            <input type="input" class="form-control" id="id_factura_iva" readonly name="factura_iva" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_retencion">Monto Retenido</label>
                            <input type="input" class="form-control" id="id_factura_retencion" readonly name="factura_retencion" value="0.0">
                        </div>
                        <div class="form-group">
                            <label for="id_factura_total">Total</label>
                            <input type="input" class="form-control" id="id_factura_total" readonly name="factura_total" value="0.0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="input" class="form-control" id="id_buscador_productos" placeholder="BUSCAR PRODUCTO">
                    </div>
                </div>
                <div class="row table-responsive">
                    <table id="productos" class="table table-bordered table-striped table-hover" name="productos">
                        <thead>
                            <tr>
                                <th>CODIGO</th>
                                <th>DESCRIPCION</th>
                                <th>CANTIDAD</th>
                                <th>PRECIO UNITARIO</th>
                                <th>DESCUENTO UNITARIO</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-success">Grabar</button>
                    <button type="button" class="btn btn-danger" value="Borrar" onclick="quitar()">Borrar    </button>
                </div>
                <!-- Modal  -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Exitencias en Bodega</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class='col-md-12'>
                                        <div id="msg"></div>
                                        <table  id="exitencia" class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Bodega</th>
                                                    <th>Exitencias</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="form-group">
                                            <label label_for="cantidad">Cantidad</label>
                                            <input type="input" class="form-control" id="modal_cantidad" value=1></input>
                                        <input type="hidden" id="modal_codigo" class="form-control" value="None"></input>
                                    <input type="hidden" id="modal_descripcion" class="form-control" value="None"></input>
                                <input type="hidden" id="modal_precio" class="form-control" value="None"></input>
                            <input type="hidden" id="modal_bodega" class="form-control" value="None"></input>
                            <input type="hidden" id="modal_existencia" class="form-control" value="None"></input>
                        <input type="hidden" id="modal_id" class="form-control" value="off"></input>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="validar_modal();">Ok</button>
    </div>
</div>
</div>
</div>
<!-- End Modal -->
</form>
</div>
</body>
<script>
    function calcular() {
        var Subtotal = 0;
        var Descuento = 0;
        var Iva = 0;
        var Retencion = 0;
        var Total = 0;
        $('#productos>tbody tr').each(function(){
            $this = $(this);
            var cantidad = $(this).find("#id_producto_cantidad").val();
            var precio = $(this).find("#id_producto_precio").val();
            var descuento = $(this).find("#id_producto_descuento").val();
            $(this).find("#id_total").val(((precio * cantidad) - (descuento * cantidad)).toFixed(2));
            Subtotal += cantidad * precio;
            Descuento += cantidad * descuento;
        });
        if($('#id_excento').is(':checked')) {
            Iva = 0;
        } else {
            Iva = (Subtotal - Descuento) * 0.15;
        }
        if($('#id_ir').is(':checked')) {
            Retencion += (Subtotal - Descuento) * 0.02;
        }
        if($('#id_al').is(':checked')) {
            Retencion += (Subtotal - Descuento) * 0.01;
        }
        Total = (Subtotal - Descuento) + Iva - Retencion;
        $("#id_factura_subtotal").val(Subtotal.toFixed(2));
        $("#id_factura_descuento").val(Descuento.toFixed(2));
        $("#id_factura_iva").val(Iva.toFixed(2));
        $("#id_factura_retencion").val(Retencion.toFixed(2));
        $("#id_factura_total").val(Total.toFixed(2));
    }
</script>



{% endblock content %}
