{% extends "moneycash/base.html" %}


  {% block reportes %}
  <li><a href="#">Reporte de Ventas por Cliente</a></li>
  <li><a href="#">Reporte de Ventas por Categoria</a></li>
  <li role="separator" class="divider"></li>
  <li class="dropdown-header">Reporte de Ventas Marginal</li>
  <li><a href="#">Reporte de Consumo por Cliente</a></li>
  {% endblock reportes %}

  {% block options %}
  <a id="btn_borrar" href="#" class="btn btn-info btn-xs pull-right"><i class="fa fa-paint-brush"> Limpiar Formulario</i></a>
  <a id="btn_grabar" href="#" class="btn btn-info btn-xs pull-right"><i class="fa fa-save"> Guardar</i></a>
  <a href="#" class="btn btn-info btn-xs pull-right"><i class="fa fa-file-pdf-o">  Generar Proforma</i></a>
  {% endblock %}

{% block titulo %}Factura de Ventas{% endblock titulo %}

{% block script_extra %}
{{ block.super }}
<script src="/static/moneycash/js/cliente.js"></script>
<script src="/static/moneycash/js/factura.js"></script>
<script type="text/javascript">
  $('.moneycash_facturacion').addClass('active');
</script>
{% endblock script_extra %}

{% block form %}
            <div id="mensajes">
            </div>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-3">
                        {% include "moneycash/cliente.html" %}
                  </div>
                    <div class="col-md-7">

                          <div class="panel panel-success">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                {% ifequal tipo_producto "vender" %}Detalle de Productos Vendidos {% endifequal %}
                                {% ifequal tipo_producto "comprar" %}Detalle de Productos Comprados {% endifequal %}
                              </h3>
                            </div>
                            <input type="hidden" name="tipo_producto" value="{{ tipo_producto }}">
                            <div class="panel-body">
                            <div class="row">
                                <div class=" container-fluid">
                                  <div class="form-group">
                                      <input type="input" class="form-control" id="buscador_productos" placeholder="BUSCAR PRODUCTO">
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container-fluid">
                                  <table id="productos" class="table table-bordered table-striped table-hover">
                                      <thead>
                                          <tr>
                                              <th>Codigo</th>
                                              <th colspan="3">Descripcion</th>
                                              <th colspan="2">Bodega</th>
                                              <th>Cantidad</th>
                                              <th>Precio</th>
                                              <th>Descuento</th>
                                              <th>Total</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                      </tbody>
                                  </table>
                                </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-md-2">
                        <div class="panel panel-success datos_totales">
                          <div class="panel-heading">
                            <h3 class="panel-title">Totales</h3>
                          </div>
                          <div class="panel-body">
                                <div class="form-group">
                                  <label for="factura_subtotal">Subtotal</label>
                                  <input type="input" class="form-control moneda" id="factura_subtotal" readonly name="factura_subtotal" value="0.0">
                                </div>
                                <div class="form-group">
                                  <label for="factura_discount">Descuento</label>
                                  <input type="input" class="form-control moneda" id="factura_discount" readonly name="factura_discount" value="0.0">
                                </div>
                                <div class="form-group">
                                  <label for="factura_iva">Iva</label>
                                  <input type="input" class="form-control moneda" id="factura_iva" readonly name="factura_iva" value="0.0">
                                </div>
                                <div class="form-group">
                                  <label for="factura_total">Total</label>
                                  <input type="input" class="form-control moneda" id="factura_total" readonly name="factura_total" value="0.0">
                                </div>
                          </div>
                        </div>
                      </div>

                    </div>
</form>
{% endblock form %}
{% block modales %}
{{block.super}}
<div class="modal fade" id="detalleModal" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles del Producto</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <img class="image image-responsive" src="" alt="" height="140px"/>
                  </div>

                  <div class="form-group">
                      <label for="no_part">Numero de Parte</label>
                      <input type="text" class="form-control" id="no_part" readonly name="no_part">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="price">Precio</label>
                      <input type="text" class="form-control" id="price" name="price">
                  </div>
                  <div class="form-group">
                      <label for="cost">Costo</label>
                      <input type="text" class="form-control" id="cost" readonly name="cost">
                  </div>
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" autocomplete="off" min="0">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="discount">Descuento</label>
                        <input type="text" class="form-control" id="discount" name="discount" autocomplete="off">
                    </div>
                  </div>
                  </div>
                </div>
              </div>
                <input type="hidden" name="almacenar" id="almacenar">
                <table class="table table-bordered table-responsive table-hover" id="existencias">
                  <thead>
                    <tr>
                      <th>Bodega</th>
                      <th>Existencias</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <div class="alert" id="mensaje"></div>
              <input type="hidden" id="producto" name="producto">
              <input type="hidden" id="bodega" name="bodega">
              <input type="hidden" id="code" name="code">
              <input type="hidden" id="name" name="name">
              <button type="button" class="btn btn-success" id="modal_ok">Ok</button>
              <button type="button" class="btn btn-danger" id="modal_delete">Eliminar</button>
            </div>
          </div>
  </div>
</div>
{% endblock modales %}
