{% extends "moneycash/base.html" %}

{% block script_extra %}
{{ block.super }}
<script src="/static/moneycash/js/caja.js"></script>
<script src="/static/moneycash/js/NumeroALetras.js"></script>
<script src="/static/moneycash/js/facturas_no_impresas.js"></script>
<script src="/static/moneycash/jquery/jQuery.print.js"></script>
{% endblock script_extra %}
{% block options %}
<a href="#" class="btn btn-info btn-xs pull-right"><i class="fa fa-times"></i></a>
<a href="#" class="btn btn-info btn-xs pull-right" id="imprimir"><i class="fa fa-print"> Imprimir</i></a>
{% endblock options %}

{% block extra_head %}
<style media="screen">
  .impreso {
    display: None;
  }
</style>
{% endblock %}

{% block titulo %}Facturas no impresas{% endblock titulo%}
{% block form %}
<div class="row">
  <table class="table table-bordered table-hover" id="listado">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Tipo de Pago</th>
        <th>Total</th>
        <th>Moneda</th>
      </tr>
    </thead>
    <tbody>
      {% for f in facturas %}
      <tr id="{{ f.id }}">
        <td>{{ f.cliente.name }}</td>
        <td>{{ f.date }}</td>
        <td>{{ f.tipo_pago }} contado</td>
        <td>{{ f.total }}</td>
        <td>{{ f.moneda }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<form class="" action="" method="post" style="display: none;" id="formulario">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      {% include "moneycash/metodos-pago.html" %}
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <input type="hidden" class="form-control" id="factura" name="factura_id">
            <label for="factura_subtotal">Subtotal</label>
            <input type="input" class="form-control moneda" id="factura_subtotal" readonly name="factura_subtotal" value="0.0">
        </div>
        <div class="form-group">
            <label for="factura_discount">Descuento</label>
            <input type="input" class="form-control moneda" id="factura_discount" readonly name="factura_discount" value="0.0">
        </div>
        <div class="form-group">
            <label for="factura_iva">Iva</label>
            <input type="input" class="form-control moneda" id="factura_iva" readonly name="factura_iva" value="0.0">
        </div>

        <div class="form-group">
            <label for="factura_total">Total</label>
            <input type="input" class="form-control moneda" id="factura_total" readonly name="factura_total" value="0.0">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="code" id="label_cliente">CLIENTE</label>
            <input type="hidden" class="form-control" id="cliente" name="cliente_id">
            <input type="text" class="form-control" id="code" placeholder="CODIGO" readonly name="code">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="NOMBRE" readonly>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="ident" placeholder="IDENTIFICACION" name="cliente_ident" readonly>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="cliente_email" readonly>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="phone" placeholder="TELEFONO" name="cliente_phone" readonly>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="address" placeholder="DIRECCION" name="cliente_address" readonly></textarea>
        </div>
    </div>
  </div>
</form>
<div class="impreso">

</div>
{% endblock %}
