{% extends "moneycash/caja.html" %}

{% block script_extra %}
{{ super }}
<script src="/static/moneycash/js/caja.js"></script>
<script src="/static/moneycash/js/facturas_no_impresas.js"></script>
{% endblock script_extra %}

{% block titulo %}Facturas no impresas{% endblock titulo%}

{% block form %}
<div class="container-fluid well">
  <table class="table table-bordered table-hover" id="listado">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Tipo de Pago</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for f in facturas %}
      <tr id="{{ f.id }}">
        <td>{{ f.cliente.name }}</td>
        <td>{{ f.date }}</td>
        <td>{{ f.tipo_pago }} contado</td>
        <td>{{ f.total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form class="" action="" method="post" style="display: none;">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label for="factura_subtotal">Subtotal</label>
              <input type="input" class="form-control" id="factura_subtotal" readonly name="factura_subtotal" value="0.0">
          </div>
          <div class="form-group">
              <label for="factura_discount">Descuento</label>
              <input type="input" class="form-control" id="factura_discount" readonly name="factura_discount" value="0.0">
          </div>
          <div class="form-group">
              <label for="factura_iva">Iva</label>
              <input type="input" class="form-control" id="factura_iva" readonly name="factura_iva" value="0.0">
          </div>
          <div class="form-group" id="retenciones">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" id="aplica_ir" name="aplica_ir"> IR
                  </label>
                  <label>
                      <input type="checkbox"  id="aplica_al" name="aplica_al"> Alcaldia
                  </label>
                  <label>
                      <input type="checkbox"  id="excento_iva" name="excento_iva"> Exento IVA
                  </label>
              </div>
          </div>
          <div class="form-group">
              <label for="factura_retencion">Monto Retenido</label>
              <input type="input" class="form-control" id="factura_retencion" readonly name="factura_retencion" value="0.0">
          </div>
          <div class="form-group">
              <label for="factura_total">Total</label>
              <input type="input" class="form-control" id="factura_total" readonly name="factura_total" value="0.0">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label for="code" id="label_cliente">CLIENTE</label>
              <input type="hidden" class="form-control" id="cliente" name="cliente_id">
              <input type="text" class="form-control" id="code" placeholder="CODIGO" readonly name="code">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="NOMBRE" readonly>
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="ident" placeholder="IDENTIFICACION" name="cliente_ident" readonly>
          </div>
          <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="EMAIL" name="cliente_email" readonly>
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="phone" placeholder="TELEFONO" name="cliente_phone" readonly>
          </div>
          <div class="form-group">
              <textarea class="form-control" id="address" placeholder="DIRECCION" name="cliente_address" readonly></textarea>
          </div>
          <div class="form-group">
              <label for="tipopago">Tipo de pago</label>
              <select id="tipopago" class="form-control" name="factura_tipopago">
                  {% for t in tipo_pagos %}
                  <option value={{ t.id }}>{{ t.name }}</option>
                  {% endfor %}
              </select>
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label for="pago_efectivo">Efectivo</label>
              <input type="input" class="form-control efectivo" id="pago_efectivo" readonly name="pago_efectivo" value="0.0">
          </div>
          <div class="form-group">
              <label for="pago_cheque cheque">Cheques</label>
              <input type="input" class="form-control" id="pago_cheque" readonly name="pago_cheque" value="0.0">
          </div>
          <div class="form-group">
              <label for="pago_transferencia">Transferencias</label>
              <input type="input" class="form-control transferencia" id="pago_transferencia" readonly name="pago_transferencia" value="0.0">
          </div>
          <div class="form-group">
              <label for="pago_tarjeta">Tarjeta</label>
              <input type="input" class="form-control tarjeta" id="pago_tarjeta" readonly name="pago_tarjeta" value="0.0">
          </div>
          <div class="form-group">
              <label for="pago_total">Pago Total</label>
              <input type="input" class="form-control" id="pago_total" readonly name="pago_total" value="0.0">
          </div>
          <div class="form-group">
              <label for="pago_cambio">Cambio</label>
              <input type="input" class="form-control" id="pago_cambio" readonly name="pago_cambio" value="0.0">
          </div>
      </div>
    </div>
  </form>
</div>

{% endblock form %}
