{% extends "moneycash/caja.html" %}

{% block form %}
<div class="container-fluid well">
  <h2>Recibo Oficial de Caja</h2>
  <form class="form" action="." method="post">
    <div class="row">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="nombre" name="nombre">
    </div>
    </div>
    <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <div class='input-group date' id='fecha'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
      <div class="form-group">
        <label for="fecha">Monto</label>
        <input type="text" class="form-control" id="monto" placeholder="monto" readonly name="monto" value="0.0">
      </div>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <th>Efectivo</th>
          <th>Cheque</th>
          <th>Transferencia</th>
          <th>Tarjeta</th>
        </thead>
        <tbody>
          <tr>
            <td class="efectivo">0.0</td>
            <td class="cheque">0.0</td>
            <td class="transferencia">0.0</td>
            <td class="tarjeta">0.0</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="row">
      <div class="form-group">
          <label for="montoLetras">Monto en Letras</label>
          <textarea class="form-control" id="montoLetras" readonly name="montoLetras"></textarea>
      </div>
      <div class="form-group">
          <label for="concepto">concepto</label>
          <textarea class="form-control" id="concepto" placeholder="concepto" name="concepto"></textarea>
      </div>
    </div>
  </form>
</div>
{% endblock form %}

{% block modales %}
<div class="modal fade" id="efectivoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ingreso en Efectivo</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="efectivoTable">
          <thead>
            <tr>
              <th>Nominacion</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control efectivoNominacion" value="0.50" readonly></td>
              <td><input type="text" class="form-control efectivoCantidad" value=""></td>
            </tr>
              <td><input type="text" class="form-control efectivoNominacion" value="1.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="5.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="10.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="20.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="50.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="100.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="200.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
              <td><input type="text" class="form-control efectivoNominacion" value="500.00" readonly></td><td><input type="text" class="form-control efectivoCantidad"></td></tr>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td><td><input type="text" id="efectivoTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="efectivoOk">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chequeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ingreso por Cheques</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="chequeTable">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Numero</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control chequeBanco"></td>
              <td><input type="text" class="form-control chequeNumero"></td>
              <td><input type="text" class="form-control chequeMonto"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control chequeBanco"></td>
              <td><input type="text" class="form-control chequeNumero"></td>
              <td><input type="text" class="form-control chequeMonto"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td>
              <td></td>
              <td><input type="text" id="chequeTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="chequeOk">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="transferenciaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Transferencias Bancarias</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="transferenciaTable">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Numero Transaccion</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control transferenciaBanco"></td>
              <td><input type="text" class="form-control transferenciaNumero"></td>
              <td><input type="text" class="form-control transferenciaMonto"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control transferenciaBanco"></td>
              <td><input type="text" class="form-control transferenciaNumero"></td>
              <td><input type="text" class="form-control transferenciaMonto"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td>
              <td></td>
              <td><input type="text" id="transferenciaTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="transferenciaOk">ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tarjetaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pagos con Tarjeta</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-responsive" id="tarjetaTable">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Ultimos 4 digitos Tarjeta</th>
              <th>Numero Transaccion</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control tarjetaBanco"></td>
              <td><input type="text" class="form-control tarjetaNumero"></td>
              <td><input type="text" class="form-control tarjetaTransaccion"></td>
              <td><input type="text" class="form-control tarjetaMonto"></td>
            </tr>
            <tr>
              <td><input type="text" class="form-control tarjetaBanco"></td>
              <td><input type="text" class="form-control tarjetaNumero"></td>
              <td><input type="text" class="form-control tarjetaTransaccion"></td>
              <td><input type="text" class="form-control tarjetaMonto"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><input type="text" value="total" readonly class="form-control"></td>
              <td></td>
              <td><input type="text" id="tarjetaTotal" value="0.0" class="form-control" readonly></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="tarjetaOk">Ok</button>
      </div>
    </div>
  </div>
</div>
{% endblock modales %}

{% block script_extra %}
{{ super }}
<script src="/static/moneycash/js/NumeroALetras.js"></script>
<script src="/static/moneycash/js/roc.js"></script>
{% endblock script_extra %}
