{% extends "moneycash/base.html" %}

{% block titulo %}Recibo Oficial de Caja{%endblock%}
{% block extra_head %}
<style media="screen">
  .impreso {
    display: None;
  }
</style>
{% endblock %}
{% block options %}
<a href="#" class="btn btn-info btn-xs pull-right"><i class="fa fa-times"></i></a>
<a href="#" class="btn btn-info btn-xs pull-right" id="imprimir"><i class="fa fa-print"></i></a>
{% endblock options %}
{% block form %}
  <form class="form" action="." method="post">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
              {% include "moneycash/metodos-pago.html" %}
        </div>
        <div class="col-md-3">
              {% include "moneycash/cliente.html" %}
        </div>
        <div class="col-md-6">

          <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title"> Datos del Recibo
              <div class="pull-right">
                <a href="#" class="btn btn-success btn-xs pull-right" id="borrar_cliente">
                  <i class="fa fa-times"></i>
                </a>
                <a href="#" class="btn btn-success btn-xs pull-right" id="editar_cliente">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
            </h4>
          </div>
          <div class="panel-body">
          <div class="form-group">
              <label for="montoLetras">Monto en Letras</label>
              <textarea class="form-control" id="montoLetras" readonly name="montoLetras"></textarea>
          </div>
          <div class="form-group">
              <label for="concepto">concepto</label>
              <textarea class="form-control" id="concepto" placeholder="concepto" name="concepto"></textarea>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="impreso">

  </div>
{% endblock %}

{% block script_extra %}
{{ block.super }}
<script src="/static/moneycash/js/cliente_caja.js"></script>
<script src="/static/moneycash/js/caja.js"></script>
<script src="/static/moneycash/js/NumeroALetras.js"></script>
<script src="/static/moneycash/jquery/jQuery.print.js"></script>
{% endblock script_extra %}
