<html>
<head>
  <link href="/static/importaciones/proforma.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
  {% for q in queryset %}
  <div class="pagina">
  <div class="cabecera">
    <h1 class="tituloPrincipal" align="right">PROFORMA </h1>
    <div>
      <img class="icono" src="/static/importaciones/logo.png"/>
    </div>
    <table width="100%">
      <tr>
        <td>Batahola Norte.</td>
        <td align="right">COTIZACION #</td>
      </tr>
      <tr>
        <td>Managua Nicaragua.</td>
        <td align="right">FECHA:</td>
      </tr>
      <tr>
        <td>cesarabel@deltacopiers.com</td>
        <td align="right"></td>
      </tr>
      <tr>
        <td>2225 1337 - 8354 5689</td>
        <td align="right">
        </td>
      </tr>
    </table>
  </div>
  <div class="cliente">
    <h4>Cliente</h4>
     <span>Nombre:    </span><br></br>
     <span>Email:     </span><br></br>
     <span>Telefono:  </span><br></br>
     <span>Dirección: </span><br></br>
  </div>
  <div width=100% height="10px"></div>
     <table  width="100%">
     <tr>
       <th>QTY</th>
       <th>DESCRIPTION</th>
       <th>UNIT PRICE</th>
       <th>LINE TOTAL</th>
     </tr>
    {% for productoSeleccionado in q.items %}
     <tr>
       <td align="center">{{ productoSeleccionado.cantidad }}</td>
       <td>{{ productoSeleccionado.descripcion }}</td>
       <td align="center">U$ {{ productoSeleccionado.precio }}</td>
       <td align="center">U$ {{ productoSeleccionado.total }}</td>
     </tr>
    {% endfor %}

   <tr>
     <td colspan="3" align="right">SUBTOTAL</td>
     <td colspan="1" align="right">U$ {{q.sub_total}}</td></tr>
   <tr>
     <td colspan="3" align="right">IVA</td>
     <td colspan="1" align="right">U$ {{q.iva}}</td></tr>
    <tr>
      <td colspan="3" align="right">TOTAL</td>
      <td colspan="1" align="right">U$ {{q.total}}</td>
    </tr>
  </table>

  <div width=100% height="50px"></div>
  <div width="100%">
    <span>Proforma preparada por: </span>
    <span><hr align="left" noshade="noshade" size="2" width="30%" /></span>
  </div>
  <p> Todas las partes y HardWare en esta cotizacion cuenta con garantia de Fabrica.</p>
  <div width="100%">
    <span>Para Aceptar esta Cotizacion, firme, selle y enviela de regreso:</span>
    <span><hr align="left" noshade="noshade" size="2" width="30%" /></span>
  </div>
  <div width="100%" height="20px"></div>
  <div class="footer">
    <div class="pie"><h3 align="center">GRACIAS POR PREFERIRNOS!</h3></div>
  </div>
  </div>
  {% endfor %}
</body>
</html>
