{% extends "moneycash/base.html" %}
{% block style %}
{{ block.super }}
<link href="/static/home/css/login.css" rel="stylesheet">
{% endblock style %}
{% block content %}
<div class="container container-lower">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div id="box-login">
                <h1 class="text-center">Login</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control input-lg"
                            name="username" placeholder="Usuario" required
                            autofocus >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg"
                            name="password" placeholder="Contrase&ntilde;a"
                            required>
                    </div>
                    <input type="submit" class="btn btn-success btn-lg btn-block"
                        value="Acceder" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <p class="text-center text-lower">
                    <a id="recover_password" href="#">Ha olvidado su contrase&ntilde;a&#63;</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block modal %}{% endblock modal %}
{% block scripts_extra %}
{% endblock scripts_extra %}
