{% extends "moneycash/base.html" %}
{% block style %}
{{ block.super }}
<link href="/static/home/css/register.css" rel="stylesheet">
{% endblock style %}
{% block content %}
<div class="container container-lower">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div id="box-register">
                <h1 class="text-center">Register Here</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control input-lg"
                            name="username" placeholder="Nombre del Usuario"
                            required autofocus >
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-lg"
                            name="email" placeholder="Correo Electronico"
                            required >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg"
                            name="password1" placeholder="Contrase&ntilde;a"
                            required >
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg"
                            name="password2" placeholder="Contrase&ntilde;a &#40;Confirmacion&#41;"
                            required >
                    </div>
                    <input type="submit" class="btn btn-success btn-lg btn-block"
                        value="Continuar" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block modal %}{% endblock modal %}

{% block scripts_extra %}{% endblock scripts_extra %}
