{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <p id="copy">&copy; Delta Copiers, 2016</p>
            </div>
            <div class="col-md-4 col-md-offset-4 col-xs-4">
                <p class="text-right">
                    <span>E: cesarabel&#64;deltacopiers.com</span>
                    <span>T: &#43;505 8299&#45;6500</span>
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
