{% extends "admin/change_form.html"%}

{% block extrahead %}
<script type="text/javascript">
  (function($){
    $(document).ready(function(){

    });
  })(grp.jQuery)
</script>
{% endblock %}

{% block after_field_sets %}
<table>
  <thead>
    <tr>
      <th>fecha</th>
      <th>cantidad</th>
      <th>concepto</th>
      <th>usuario</th>
    </tr>
  </thead>
  <tbody>
    {% for m in obj.salidas %}
      <tr>
        <td>
          {{m.fecha}}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
